<!doctype html>
<html>
  <head>
    <link rel='stylesheet' href='css/devtools.css'>
  </head>
  <body>
    <header id='projects'>
      <h2>Projects</h2>
      <div id='placeProjects'></div>
    </header>
    <div id='tools'>
      <aside id='updateWarning'>
        <p>
          The version of <code>grunt-devtools</code> does not match for this project.
          Please update using '<code>npm install grunt-devtools --save-dev</code>' or update the extension.
        </p>
      </aside>
      <section id='tasks'>
        <div id='backgroundTasks'>
          <header><h2>Background Tasks</h2></header>
          <ul id='placeBackgroundTasks'></ul>
        </div>

        <header><h2>Alias Tasks</h2></header>
        <ul id='placeAliasTasks'></ul>

        <header><h2>Tasks</h2></header>
        <ul id='placeTasks'></ul>
      </section>
      <section id='output'>
        <header>
          <h2>Output</h2>
        </header>
        <div id='placeOutput'></div>
      </section>
    </div>
    <section id='notice'>
      <p>
        <img src='img/icon128.png' alt='Grunt'/><br/>
        <small>Grunt Devtools <span id='toolsVersion'></span></small><br/>
        <strong>No projects detected.</strong>
      </p>
      <p><small>Is <code>grunt devtools</code> running?</small></p>
    </section>

    <progress id='running'></progress>

    <script id="projectList" type="text/template">
      <% _.each(projects, function(project, i) { %>
        <button value='<%= i %>'><%= project.name %></button>
      <% }); %>
    </script>

    <script id="taskList" type="text/template">
      <% _.each(buttons, function(name) { %>
        <li>
          <button class='task' value='<%= name %>'><%= name %></button>

          <button title='Set --verbose' class='b b-second b-flag b-verbose' value='-v'>V</button>
          <button title='Set --force' class='b b-first b-flag b-force' value='-f'>F</button>

          <button title='Add to Background Tasks' class='b b-second b-bg'>B</button>
          <button title='Kill Task' class='b b-first b-kill'>X</button>
        </li>
      <% }); %>
    </script>

    <script id="bgTaskList" type="text/template">
      <% _.each(tasks, function(task) { %>
      <li>
        <button class='bgTask' value='<%= task.name %>'><%= task.name %></button>
        <button title='Kill Task' class='b b-kill' data-pid='<%= task.pid %>'>X</button>
      </li><% }); %>
    </script>

    <script src='js/runtime.js'></script>
    <script src='js/vendor/jquery.min.js'></script>
    <script src='js/vendor/lodash.min.js'></script>
    <script src='js/devtools.js'></script>
  </body>
</html>
