* {
  -webkit-box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  position: fixed;
  font-family: Lucida Grande, sans-serif;
}

h2, label, #sendBackground {
  text-transform: uppercase;
  position: relative;
  height: 18px;
  font-size: 11px;
  padding: 10px;
  white-space: nowrap;
  margin-top: 1px;
  color: rgb(92, 110, 129);
  font-weight: bold;
  text-shadow: rgba(255, 255, 255, 0.75) 0 1px 0;
}

#backgroundTasks, #killTask {
  display: none;
}
#backgroundTasks.show {
  display: block;
}

#backgroundTasks h2 {
  color: green;
}

#projects {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(236, 236, 236)), to(rgb(217, 217, 217)));
  border-bottom: 1px solid rgb(163, 163, 163);
}

#tools {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: center;
  -webkit-align-content: center;
  -webkit-align-items: stretch;
}

#tasks {
  height: 100%;
  width: 15%;
  min-width: 150px;
  background-color: rgb(214, 221, 229);
  border-right: 1px solid rgb(64%, 64%, 64%);
  -webkit-flex: 1 1 auto;
}


#tasks button {
  display: block;
  font-weight: bold;
  padding: 10px;
  padding-left: 20px;
  background: none;
  border: none;
  width: 100%;
  cursor: pointer;
  text-align: left;
}


pre {
  font-size: 11px;
  margin: 1px 0px 1px 0px;
  color: rgb(92, 110, 129);
  white-space: pre-wrap;
  word-wrap: break-word;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
}

#projects button {
  border: 1px solid rgba(163, 163, 163, 0);
}

#projects button.active {
  background: rgba(255,255,255, 0.5);
  border: 1px solid rgb(163, 163, 163);
  color: rgb(46, 46, 46);
}

#projects button:hover {
  background: rgba(255,255,255, 0.1);
  border: 1px solid rgb(163, 163, 163);
  color: rgb(46, 46, 46);
}

#projects {
  min-height: 25px;
}

#projects h2 {
  display: inline
}

#placeOutput {
  padding: 0 0 40px 10px;
}

#placeProjects {
  display: inline;
}

#tasks button:hover {
  background: rgba(56, 121, 217, 0.1);
  color: rgb(92, 110, 129);
}

#notice p {
  color: rgb(92, 110, 129);
  font-size: 25px;
  padding: 20px;
  text-align: center;
}

#output, #tasks {
  overflow: auto;
}

#output {
  width: 85%;
  -webkit-flex: 3 1 auto;
}

#sendBackground{
  display: none;
  position: absolute;
  border: 1px solid green;
  right: 20px;
  top: 30px;
  height: auto;
}

.offline #projects {
  display: none;
}

.offline #tools {
  display: none;
}

#notice small {
  color: rgba(92, 110, 129, 0.5);
}

.offline #notice {
  display: block;
}

.online #notice{
  display: none;
}

#running {
  display: none;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.running #tasks button:hover, .running #projects button:hover {
  cursor: not-allowed;
}

.running #tasks {
  opacity: 0.3;
}

.running #sendBackground {
  display: block;
}

.running #running {
  display: block;
}

@media all and (max-width: 250px) {
  #output {
    display: none;
  }
  #tasks {
    width: 100%;
  }
}