<header id='projects'>
  <h2>Grunt Projects</h2>
  <div id='placeProjects'></div>
</header>
<div id='tools'>
  <section id='tasks'>
    <div id='backgroundTasks'>
      <header><h2>Background Tasks</h2></header>
      <ul id='placeBackgroundTasks'></ul>
    </div>

    <header><h2>Alias Tasks</h2></header>
    <ul id='placeAliasTasks'></ul>

    <header><h2>Tasks</h2></header>
    <ul id='placeTasks'></ul>
  </section>
  <section id='output'>
    <aside id='updateWarning'>
      <p>
        The version of <code>grunt-devtools</code> is out of date.
        Please update the node module or update this extension, the versions should match.
      </p>
    </aside>
    <header>
      <h2>Output</h2>
    </header>
    <div id='placeOutput'></div>
  </section>
</div>
<progress id='running'></progress>
